<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="fragments::head">

</head>

<body id="top">

<div id="overlayer"></div>
<div class="loader">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>


<div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div> <!-- .site-mobile-menu -->


  <!-- NAVBAR -->
  <header th:insert="fragments::header" class="site-navbar mt-3">

  </header>

  <!-- HOME -->
  <section th:insert="fragments::homeSection">
  </section>

    
    <section class="site-section">
      <div class="container" th:object="${jobDTO}">
        <form method="post" action="/job/add" th:action="@{/job/add}">



        <div class="row align-items-center mb-5">
          <div class="col-lg-8 mb-4 mb-lg-0">
            <div class="d-flex align-items-center">
              <div>
                <h2>Post A Job</h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="row">
              <div class="col-6">
                <!-- <a href="#" class="btn btn-block btn-light btn-md"><span class="icon-open_in_new mr-2"></span>Preview</a>-->
               </div>
               <div class="col-6">
                 <button type="submit" class="btn btn-block btn-primary btn-md">Save Job</button>
                 <!-- <input type="submit" formaction="/action_page2.php" href="#" class="btn btn-block btn-primary btn-md" value="Save TEST"> -->
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-12">
            <div class="p-4 p-md-5 border rounded">
              <h3 class="text-black mb-5 border-bottom pb-2">Job Details</h3>

              <div th:if="${#fields.hasAnyErrors()}"  class="alert alert-danger" role="alert">
                <ul>
                  <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                </ul>
              </div>
              
              <div class="form-group">
                <label for="company-website-tw d-block">Upload Featured Image</label> <br>
                <label class="btn btn-primary btn-md btn-file">
                  Browse File<input type="file" hidden>
                </label>
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" th:field="${jobDTO.email}" th:value="${jobDTO.email}" placeholder="you@yourdomain.com">
              </div>
              <div class="form-group">
                <label for="job-title">Job Title</label>
                <input type="text" class="form-control" id="job-title" th:field="${jobDTO.jobTitle}" th:value="${jobDTOjobTitle}"  placeholder="Product Designer">
              </div>
              <div class="form-group">
                <label for="job-location">Location</label>
                <input type="text" class="form-control" id="job-location" th:field="${jobDTO.location}" th:value="${jobDTO.jobTitle}"placeholder="e.g. New York">
              </div>

              <div class="form-group">
                <label for="job-region">Job Region</label>
                <select class="selectpicker border rounded" id="job-region" th:field="${jobDTO.jobRegion}" th:value="${jobDTO.jobRegion}" data-style="btn-black" data-width="100%" data-live-search="true" title="Select Region">
                      <option value="asd">Anywhere</option>
                    </select>
              </div>

              <div class="form-group">
                <label for="job-type">Job Type</label>
                <select class="selectpicker border rounded"  th:field="${jobDTO.jobType}" th:value="${jobDTO.jobType}" id="job-type" data-style="btn-black" data-width="100%" data-live-search="true" title="Select Job Type">
                  <option value="Part Time">Part Time</option>
                  <option value="Full Time">Full Time</option>
                </select>
              </div>

              <div class="form-group">
                <label for="vacancy">Vacancy</label>
                <input type="number" class="form-control" id="vacancy" step="1" min="1" th:field="${jobDTO.vacancy}" th:value="${jobDTO.vacancy}"placeholder="e.g. 1">
              </div>


              <div class="form-group">
                <label for="job-experience">Experience</label>
                <input type="text" class="form-control" id="job-experience" th:field="${jobDTO.experience}" th:value="${jobDTO.experience}"placeholder="2 years minimum">
              </div>

              <div class="form-group">
                <label for="job-salary">Salary</label>
                <input type="text" class="form-control" id="job-salary" th:field="${jobDTO.salary}" th:value="${jobDTO.salary}"placeholder="5k euro">
              </div>

              <div class="form-group">
                <label for="job-gender">Job Type</label>
                <select class="selectpicker border rounded"  th:field="${jobDTO.gender}" th:value="${jobDTO.gender}" id="job-gender" data-style="btn-black" data-width="100%" data-live-search="true" title="Select gender">
                  <option value="All">All</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>

              <div class="form-group">
                <label for="job-deadline">Deadline</label>
                <input type="date" class="form-control" id="job-deadline" th:field="${jobDTO.applicationDeadline}" th:value="${jobDTO.applicationDeadline}">
              </div>


              <div class="form-group">
                <label for="job-description">Job Description</label>
                <div class="editor" id="editor-1">
                  <p>Write Job Description!</p>
                </div>
              </div>

                <div class="form-group">
                  <label>Job responsiblities</label>
                  <div id="responsibilities">
                    <input type="text" class="form-control" id="job-location1" name="responsibilities[0]" placeholder="Responsibility">
                  </div>
                  <button type="button" onclick="addNewResponsiblity()">+</button>
                </div>


              <div class="form-group">
                <label>Education experience</label>
                <div id="educationExperiences">
                  <input type="text" class="form-control" id="educationExperiences1" name="educationExperience[0]" placeholder="Education Experience">
                </div>
                <button type="button" onclick="addNewEducationExperience()">+</button>
              </div>


              <div class="form-group">
                <label>Ohter benefits</label>
                <div id="otherBenefits">
                  <input type="text" class="form-control" id="otherBenefits1" name="otherBenefits[0]" placeholder="Other Benefit">
                </div>
                <button type="button" onclick="addNewOtherBenefits()">+</button>
              </div>



              <h3 class="text-black my-5 border-bottom pb-2">Company Details</h3>
              <div class="form-group" th:each="cmp: ${companies}">
                <label for="company-name">Company Name</label>
                <select class="selectpicker border rounded" id="company-name" th:field="${jobDTO.companyId}" data-style="btn-black" data-width="100%" data-live-search="true" title="Select company">
                  <option value="asd" th:value="${cmp.id}" th:text="${cmp.companyName}">Anywhere</option>

                </select>
              </div>
              </div>


            </div>
          </div>

         

        <div class="row align-items-center mb-5">
          
          <div class="col-lg-4 ml-auto">
            <div class="row">
              <div class="col-6">
                <!-- <a href="#" class="btn btn-block btn-light btn-md"><span class="icon-open_in_new mr-2"></span>Preview</a> -->
              </div>
              <div class="col-6">
                <button type="submit" class="btn btn-block btn-primary btn-md">Save Job</button>
              </div>
            </div>
          </div>
        </div>

        </form>
      </div>
    </section>


  <footer th:insert="fragments::footer"></footer>

</div>
<!-- SCRIPTS -->
<div th:insert="fragments::scripts">
</div>

<script>
  function addNewResponsiblity(){
    var resp = document.getElementById("responsibilities");
    console.log(resp.childNodes.length);

    let input = document.createElement('input');
    input.setAttribute("type","text");
    input.setAttribute("class","form-control");
    input.setAttribute("id","form-job-location" + resp.childNodes.length);
    input.setAttribute("name","responsibilities[" + resp.childNodes.length + "]");
    input.setAttribute("placeholder","Responsibility");

    insertAfter(input,  resp.lastElementChild);
  }
  function addNewEducationExperience(){
    var resp = document.getElementById("educationExperiences");
    console.log(resp.childNodes.length);

    let input = document.createElement('input');
    input.setAttribute("type","text");
    input.setAttribute("class","form-control");
    input.setAttribute("id","form-education-experience" + resp.childNodes.length);
    input.setAttribute("name","educationExperience[" + resp.childNodes.length + "]");
    input.setAttribute("placeholder","Education Experience");

    insertAfter(input,  resp.lastElementChild);
  }
  function addNewOtherBenefits(){
    var resp = document.getElementById("otherBenefits");
    console.log(resp.childNodes.length);

    let input = document.createElement('input');
    input.setAttribute("type","text");
    input.setAttribute("class","form-control");
    input.setAttribute("id","form-other-benefit" + resp.childNodes.length);
    input.setAttribute("name","otherBenefits[" + resp.childNodes.length + "]");
    input.setAttribute("placeholder","Other Benefit");

    insertAfter(input,  resp.lastElementChild);
  }




  function insertAfter(newNode, existingNode) {
    existingNode.parentNode.insertBefore(newNode, existingNode.nextSibling);
  }



</script>


</body>
</html>