<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="fragments::head">

</head>

<body id="top">

<div id="overlayer"></div>
<div class="loader">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>


<div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div> <!-- .site-mobile-menu -->


  <!-- NAVBAR -->
  <header th:insert="fragments::header" class="site-navbar mt-3">

  </header>

<!-- HOME -->
  <section th:insert="fragments::homeSection">
  </section>


<section class="site-section">
  <form action="/company/add" th:action="@{/company/add}" method="post" th:object="${company}" id="Form">
  <div class="container">

    <div class="row align-items-center mb-5">
      <div class="col-lg-8 mb-4 mb-lg-0">
        <div class="d-flex align-items-center">
          <div>
            <h2>Add new company</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-6">
            <a href="#" class="btn btn-block btn-light btn-md"><span class="icon-open_in_new mr-2"></span>Preview</a>
          </div>
          <div class="col-6">
            <input type="submit" class="btn btn-block btn-primary btn-md" value="Save company">
          </div>
        </div>
      </div>
    </div>

    <div th:if="${#fields.hasAnyErrors()}"  class="alert alert-danger" role="alert">
      <ul>
        <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
      </ul>
    </div>

    <div class="row mb-5">
      <div class="col-lg-12">
        <div class="p-4 p-md-5 border rounded" method="post">
          <h3 class="text-black my-5 border-bottom pb-2">Company Details</h3>
          <div class="form-group">
            <label for="company-name">Company Name</label>
            <input type="text" th:field="*{companyName}" th:value="*{companyName}"  class="form-control" id="company-name" placeholder="e.g. New York" required>
          </div>

          <div class="form-group">
            <label for="company-tagline">Tagline (Optional)</label>
            <input type="text" th:field="*{tagLine}" th:value="*{tagLine}"  class="form-control" id="company-tagline" placeholder="e.g. New York">
          </div>

          <div class="form-group">
            <label for="company-description">Company Description (Optional)</label>
            <div class="editor">
              <textarea class="form-control" style="resize: none;" rows="14" cols="50" name="body"
                        th:field="*{companyDescription}" th:value="*{companyDescription}" id="company-description"/>
            </div>
          </div>

          <div class="form-group">
            <label for="company-website">Website (Optional)</label>
            <input type="text" class="form-control" th:field="*{companyWebsite}" th:value="*{companyWebsite}" id="company-website" placeholder="https://">
          </div>

          <div class="form-group">
            <label for="company-website-fb">Facebook Username (Optional)</label>
            <input type="text" class="form-control" th:field="*{companyWebsiteFb}" th:value="*{companyWebsiteFb}" id="company-website-fb" placeholder="companyname">
          </div>

          <div class="form-group">
            <label for="company-website-tw">Twitter Username (Optional)</label>
            <input type="text" class="form-control"  th:field="*{companyWebsiteTw} "th:value="*{companyWebsiteTw}"  id="company-website-tw" placeholder="@companyname">
          </div>
          <div class="form-group">
            <label for="company-website-li">Linkedin Username (Optional)</label>
            <input type="text" class="form-control" th:field="*{companyWebsiteLi}" id="company-website-li" placeholder="companyname">
          </div>

          <div class="form-group">
            <label for="company-website-tw d-block">Upload Logo</label> <br>
            <label class="btn btn-primary btn-md btn-file">
              Browse File<input type="file" th:field="*{logo}" th:value="*{logo}">
            </label>
          </div>

        </div>
      </div>


    </div>

    <div class="row align-items-center mb-5">

      <div class="col-lg-4 ml-auto">
        <div class="row">
          <div class="col-6">
            <a href="#" class="btn btn-block btn-light btn-md"><span class="icon-open_in_new mr-2"></span>Preview</a>
          </div>
          <div class="col-6">
            <input type="submit" class="btn btn-block btn-primary btn-md" value="Save company">
          </div>
        </div>
      </div>
    </div>

  </div>
  </form>
</section>


<footer th:insert="fragments::footer"></footer>

</div>
<!-- SCRIPTS -->
<div th:insert="fragments::scripts">
</div>


</body>
</html>