<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::head">

</head>
<body id="top">

<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>


<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <!-- NAVBAR -->
    <header th:insert="fragments::header" class="site-navbar mt-3">

    </header>

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');"
             id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-white font-weight-bold">Sign Up</h1>
                    <div class="custom-breadcrumbs">
                        <a href="#">Home</a> <span class="mx-2 slash">/</span>
                        <span class="text-white"><strong>Log In</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="site-section">
        <div class="container align-content-center">
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <h2 class="mb-4">Sign Up To JobBoard</h2>
                    <form th:action="@{/process_register}" method="post" class="p-4 border rounded" th:object="${user}">

                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="login">Login</label>
                                <input type="text" id="login" th:field="*{userName}" class="form-control" th:value="*{userName}" placeholder="Login">
                                <p th:each="err : ${#fields.errors('userName')}" th:text="${err}" class="error" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="regPass">Password</label>
                                <input type="password" id="regPass" th:field="*{password}" class="form-control" placeholder="Password">
                                <p th:errors="${user.password}">Example error</p>
                            </div>
                        </div>
                        <div class="row form-group mb-4">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="retype">Re-Type Password</label>
                                <input type="password"  th:field="*{repeatPassword}" id="retype" class="form-control" placeholder="Re-type Password">
                                <p th:errors="${user.repeatPassword}">Example error</p>
                            </div>
                        </div>

                        <div class="row form-group mb-4">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="mail">E-mail</label>
                                <input type="email"  th:field="*{mailAddress}" id="mail" class="form-control" placeholder="E-mail">
                                <p th:errors="${user.mailAddress}">Example error</p>
                            </div>
                        </div>
                        <div class="row form-group mb-4">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="role">Role</label>
                                <select  th:field="*{role}" id="role" class="form-control">
                                    <option value="EMPLOYEE">Employee</option>
                                    <option value="EMPLOYER">Employer</option>
                                </select>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Sign Up" class="btn px-4 btn-primary text-white">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer th:insert="fragments::footer"></footer>

</div>

<!-- SCRIPTS -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/isotope.pkgd.min.js"></script>
<script src="/js/stickyfill.min.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>

<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.animateNumber.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/quill.min.js"></script>


<script src="/js/bootstrap-select.min.js"></script>

<script src="/js/custom.js"></script>


</body>
</html>